uwsgi
Flask
requests
pika
prometheus_client
prometheus-flask-exporter
flask_apscheduler
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests