apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  namespace: robotshop
  name: robot-shop
rules:
- apiGroups:
  - policy
  resourceNames:
  - robot-shop
  resources:
  - podsecuritypolicies
  verbs:
  - use
