apiVersion: v1
kind: Service
metadata:
  namespace: robotshop
  name: shipping
  labels:
    service: shipping
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    service: shipping
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: robotshop
  name: shipping
  labels:
    service: shipping
spec:
  replicas: 1
  selector:
    matchLabels:
      service: shipping
  template:
    metadata:
      labels:
        service: shipping
    spec:
      serviceAccountName: robot-shop
      containers:
      - name: shipping
        image: 164382793440.dkr.ecr.us-west-2.amazonaws.com/robot-shop/shipping
        ports:
        - containerPort: 8080
        # it's Java it needs lots of memory
        resources:
          limits:
            cpu: 200m
            memory: 1000Mi
          requests:
            cpu: 100m
            memory: 500Mi
      restartPolicy: Always
